html, body, input, textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
    background-color: #333333;
    height: 100%;
    padding: 0;
    margin: 0;    
}

div#pageWrapper {
    padding: 5px 20px 5px 20px;
    min-height: 100%;
    background-color: white;
    width: 930px;
    margin: auto;
    box-shadow: 0 0 5px 6px #555555;
}

div#navigation, div#mainContent {
    padding-top: 0.5em;
}

div#navigation {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 3px;
    padding-top: 3px;
}

div#navigation a {
    padding: 3px;
    margin-left: 10px;
    margin-right: 20px;
}

h1 {
    font-size: 20pt;
}

h1 span {
    color: #555555;
    font-size: 16pt;
}

h2 {
    font-size: 16pt;
}

h2 span {
    font-size: 14pt;
}

h2.subtitle {
    font-style: italic;
}

a, a:hover, a:active, a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover, a:active {
    background: #d6d6d6;
    text-decoration: none;
}

.middle {
    vertical-align: middle;
}

img.headerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* contact */

form#contactForm input[type=email], form#contactForm input[type=text], form#contactForm textarea {
    width: 100%;
}

form#contactForm input#submitButton {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

/* blog */

a.postTitle {
    float: left;
}

.date {
    float: right;
}

div.postBody {
    padding-top: 1em;
    clear: both;
    padding-bottom: 5em;
}

div#pageBar {
    clear: both;
    padding-bottom: 20px;
}

a#previousPage {
    float: left;
}

a#nextPage {
    float: right;
}

/* games */

.gameColumn {
	display: inline-block;
	min-width: 300px;
}