<h1>Benjamin Dow, <span>Ace Software Engineer</span></h1>
		
<p>
    An experienced software engineer, often regarded as an ace engineer.
    Currently working for Expedia, Inc as a Sr Software Engineer on the affiliate platform.
    Obsessive design nerd, gamer, and programmer.
</p>

<p class="middle">
	Social Nonsense:	
	<a href="http://twitter.com/bontakun">
		<img src="/images/social/twitter_32.png" height="16" width="16" alt="twitter">
	</a>
	<a href="https://www.facebook.com/benjamin.dow">
		<img src="/images/social/facebook_32.png" height="16" width="16" alt="facebook">
	</a>
	<a href="https://plus.google.com/u/0/116084459131214405508">
		<img src="/images/social/google_plus_32.png" height="16" width="16" alt="google plus">
	</a>
	<a href="http://www.flickr.com/photos/thebontakun/">
		<img src="/images/social/flickr_32.png"height="16" width="16"  alt="flickr">
	</a>
	<a href="http://www.pandora.com/people/benjamin.dow">
		<img src="/images/social/pandora_32.png" height="16" width="16" alt="pandora">
	</a>
	<a href="http://us.playstation.com/playstation/psn/visit/profiles/thebonta-kun">
		<img src="/images/social/playstation_32.png" height="16" width="16" alt="playstation">
	</a>
	<a href="http://steamcommunity.com/id/thebontakun">
		<img src="/images/social/steam_32.png" height="16" width="16" alt="steam">
	</a>
	<a href="http://live.xbox.com/en-US/profile/profile.aspx?pp=0&GamerTag=thebontakun">
		<img src="/images/social/windows_32.png" height="16" width="16" alt="Xbox/Windows Live">
	</a>
	<a href="http://vimeo.com/bontakun">
		<img src="/images/social/vimeo_32.png" height="16" width="16" alt="vimeo">
	</a>
	<a href="http://www.youtube.com/user/thebontakun">
		<img src="/images/social/youtube_32.png" height="16" width="16" alt="youtube">
	</a>
</p>