<p class="middle">
    {{#posts}}
        <h2>
            <a class="postTitle" href="/blog/post/{{id}}">{{title}}</a>
            <span class="date">{{date}}</span>
        </h2>
            
        <div class="postBody">
            {{{body}}}
        </div>
    {{/posts}}
    
    <div id="pageBar">
        {{#previousPage}}
            <a id="previousPage" href="/blog/page/{{previousPage}}">&laquo; Previous</a>
        {{/previousPage}}
        {{#nextPage}}
            <a id="nextPage" href="/blog/page/{{nextPage}}">Next &raquo;</a>
        {{/nextPage}}
    </div>
</p>