<h1>BontaBlog</h1>

<p class="middle">
    {{#posts}}
        <h2>
            <a class="postTitle" href="/blog/{{id}}">{{title}}</a>
            <span class="postTimestamp">{{timestamp}}</span>
        </h2>
            
        <div class="postBody">
            {{{body}}}
        </div>
    {{/posts}}
</p>