<form id="contactForm" action="/contact" method="POST">
	{{#wasSubmitted}}
	<p>Thanks for the feedback.</p>
	{{/wasSubmitted}}

    Your Name:
    <input type="text" name="name">
    
    Return Email Address:
    <input type="email" name="returnAddress">
    
    Subject:
    <input type="text" name="subject">
    
    Message:
    <textarea name="message"></textarea>
    
    <input type="submit" id="submitButton" value="Submit">
</form>
