<h1>Contact</h1>

<form>
    Name
    <input type="text" name="name">
    
    Return Address 
    <input type="email" name="returnAddress">
    
    Subject
    <input type="text" name="subject">
    
    Message
    <textarea name="message"></textarea>
</form>