<p>Here you'll find the complete listing of all bonta-kun.net gaming servers.</p>

{{#servers}}
	{{#image}}
		<img class="headerImage" height="{{height}}" width="{{width}}" src="{{{url}}}" />
	{{/image}}
	
	{{#error}}
		<p>{{error}}</p>
	{{/error}}
	
	{{#hostname}}
	<div class="serverInfo">
		<span class="gameColumn">
			<b>Hostname</b>: {{hostname}}:{{port}}
		</span>
		<span class="gameColumn">
			<b>Name</b>: {{serverName}} 
		</span>
		<span class="gameColumn">		
			<b>Map</b>: {{map}}
		</span>
		
		<br/>
		<span class="gameColumn">
			<b>Game</b> {{gameName}} ({{gameVersion}})
		</span>
		<span class="gameColumn">
			<b>Players</b>: {{numberOfPlayers}} / {{maxNumberOfPlayers}}
		</span>
		<span class="gameColumn">
			<b>Private</b>: {{passwordRequired}} 
		</span>
	</div>
	{{/hostname}}
{{/servers}}
