<p>
    This is the personal site of <a href="/about">Benjamin Dow</a>. 
    It contains musings and other work by myself.
</p>
		
<p>
    Redesign of bonta-kun.net is in progress, please stay tuned for more content.
</p>