<p>
    This is the personal site of <a href="https://twitter.com/bontakun">Benjamin Dow</a>. 
    It contains musings and other work by myself.
</p>
		
<p>
    Redesign of bonta.dev is in progress, please stay tuned for more content.
</p>