<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>


<h1>bontakun.net</h1>

<img class="headerImage" src="header2.jpg" />
<p>
  Hey, first thing I'd like to welcome you to the site. I'm sorry there isn't going to be a ton of content for a bit.
</p>
<p>
    By day I'm an experienced software engineer, architect and otherwise software development field expert.
    I don't do freelance, but I do enjoy contributing to open source projects (most recently with <a href="https://qmk.fm">QMK</a> as it feeds the software side of my keyboard addiction. I don't do Cryptocurrency and I'm pretty sure that NFT's are a best a cash grab and at worst straight up exploitation. 
</p><p>   
    Also an avid gamer with occasional <a href="https://www.twitch.tv/bontakun">Twitch streams</a>, I am staff after all. I do think it's at least worth showing my face every once in a while. Though honestly I do mostly lurk.
</p><p>
  Feel free to browse through some of my old projects on <a href="https://github.com/bontakun">my GitHub page</a>, it might be the best way to keep track of the side projects I'm active on lately.
</p><p>
    Finally I do have a mild <a href="http://www.twitter.com/bontakun">Twitter problem</a>.
</p>



</body>
</html>
